body {
    background-color: var(--light);
    color: var(--background-black);
}
.main-header {
    max-width: 1200px;
    margin: 0 auto;
}
.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-xs) var(--space-xs);
}
.container {
    display: flex;
    gap: var(--space-md);
    align-items: center;
}

.page-header .logo {
    font-size: var(--text-xxl);
    color: var(--warning-color);
    font-weight: bold;
    text-decoration: none;
}
.container ul {
    display: flex;
    list-style: none;
    gap: var(--space-xs);
}
.nav-link {
    color: var(--dark);
    text-decoration: none;
    font-size: var(--text-md);
}
.nav-link:hover {
    color: var(--info);
}

#toggle {
    display: none;
}

.toggle {
    box-shadow: 0 5px 8px rgb(174, 174, 174);
    position: relative;
    display: block;
    width: 80px;
    height: 40px;
    cursor: pointer;
    border-radius: 40px;
    background-color: var(--secondary-color);
}

.cercle {
    color: var(--warning-color);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height:30px;
    border-radius: 30px;
    font-size: var(--text-lg);
    left: 5px;
    top: 5px;
    background: var(--light);
    transition: all ease-in-out .3s;
}

#toggle:checked + .toggle .cercle {
    left: 45px;
}
#toggle:checked + .toggle {
    background-color: var(--dark);
}
.cercle:active {
    transform: scale(0.9);
}

.main-section {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    padding: var(--space-sm);
    max-width: 1200px;
    margin-inline: auto;
    line-height: 1.6;
}
.main-section .hero {
    padding: 0 var(--space-sm);
    display: block;
    margin: 0 auto;
}

.buttons-container {
    display: flex;
    padding-top: var(--space-sm);
    gap: var(--space-sm);
    align-items: center;
    justify-content: center;
}



.cards-section {
    margin: var(--space-xs) 0;
    padding: var(--space-xs) var(--space-sm);
}
.section-heading {
    text-align: center;
    margin-bottom: var(--space-sm);
}
.card-icon {
    margin: 0 auto;
    font-size: var(--text-xxl);
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-sm);
    justify-content: center;
}
.card {
    text-align: center;
    width: 200px;
    height: auto;
    border: 1px solid var(--secondary-color);
    max-width: 300px;
    flex-direction: column;
    display: flex;
    padding:var(--space-xs) var(--space-sm);
    border-radius: var(--border-raduse-md);
    transition: all ease-in-out .3s;
}
.card:hover {
    box-shadow: 0 5px 8px rgb(174, 174, 174);
    transform: translateY(-5px);
}

.buttons-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--space-sm);
}
.btn {
    cursor: pointer;
    padding: var(--space-xs) var(--space-sm);
    border-radius: var(--border-raduse-sm);
    font-weight: bold;
    border: none;
}
.btn:hover {
    box-shadow: 0 5px 8px rgb(174, 174, 174);
    transform: scale(1.05);
}
.btn--secondary {
    background-color: var(--secondary-color);
    color: var(--dark);
}
.btn--warning {
    background-color: var(--warning-color);
    color: var(--light);
}
.btn--success {
    background-color: var(--success-color);
    color: var(--light);
}

.btn--primary {
    background-color: var(--info);
    color: var(--light);
}
.page-footer {
    display: flex;
    justify-content: center;
    gap: var(--space-xs);
}
.page-footer .footer-links {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    justify-content: space-between;
}
.page-footer a, ul a{
    text-decoration: none;
    color: var(--info);
}
