.announcement-bar {
    display: block;
    text-align: center;
    background: linear-gradient(to left, var(--primary-color), var(--danger-color));
    padding: var(--space-xs);
}
    .announcement-bar > a {
        display: inline-block;
        color: var(--light);
        text-decoration: none;
        font-size: var(--text-sm);
        font-weight: 500;
        transition: transform 0.3s ease-in-out;
    }
.announcement-bar > a:hover {
    transform: scale(1.05);
}
.main-content {
    max-width: 1200px;
    margin-inline: auto;
    line-height: 1.6;
    padding-inline: var(--space-sm);
}
.hero-section {
    display: flex;
    justify-content: space-between;
    gap: var(--space-sm);
    padding: var(--space-sm);
    align-items: center;
}
.text-content-container, .hero-section-img-container {
    flex: 1;
}

.buttons-group {
    display: flex;
    gap: var(--space-xs);
    justify-content: center;
    flex-wrap: wrap;
    margin-top: var(--space-sm);
}
.hero-section-img-container {
    border-radius: var(--border-raduse-md);
    overflow: hidden;
}
.hero-section-img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
@media screen and (max-width: 768px) { 
    .hero-section {
        flex-direction: column;
        text-align: center;
    }
     .text-content-container, .hero-section-img-container {
        width: 100%;
    }
}

.future-cards-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--space-sm);
    padding: var(--space-sm);
}
.card {
    border-radius: var(--border-raduse-sm);
    overflow: hidden;
    border: 1px solid var(--primary-dark-color);
    cursor: pointer;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform ease-out 0.3s;
}
.card-text-content {
    padding: var(--space-xs);
}

.testimonial-section {
    display: flex;
    margin: 0 var(--space-sm);
    justify-content: space-between;
    gap: var(--space-sm);
    padding: var(--space-sm) var(--space-md);
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--light);
}
.avatar-content {
    line-height: normal;
    text-align: center;
}
.avatar-content img {
    max-width: 150px;
    cursor: pointer;
    transition: transform ease 0.3s;
    width: 100%;
    height: auto;
    border-radius: var(--border-raduse-xl);
    object-fit: cover;
    object-position: center;
}
.avatar-content img:hover {
 transform: scale(1.06);
}
.quote-text-container p {
font-size: var(--text-md);
font-weight: 400;
}
.testimonial-section span {
    opacity: 0.5;
}
.testimonial-section h3 {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .testimonial-section {
        flex-direction: column;
    }
}
.card h2 {
    text-align: center;
}
.card:hover img {
    transform: scale(1.05);
}