* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --text-sm: 1.0rem;
    --text-md: 1.25rem;
    --text-lg: 1.56rem;
    --text-xl: 1.95rem;
    --text-xxl: 2.44rem;
    --text-xxxl: 3.05rem;

    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 2rem;
    --space-lg: 3rem;
    --space-xl:4rem;

    --border-raduse-sm: 0.5rem;
    --border-raduse-md: 1rem;
    --border-raduse-lg: 2rem;
    --border-raduse-xl: 999px;

    --primary-color: blue;
    --primary-dark-color: rgb(2, 2, 111);
    --secondary-color: #e5e5e5;
    --success-color: #10b981;
    --info: #3b82f6;
    --warning-color: #f59e0b;
    --danger-color: #ef4444;
    --light: #ffffff;
    --dark: #0f172a;
    --background-black: #000000;
    --background-white: #ffffff;
    --content-color-black: black;
    --content-color-white: #ffffff;
}